
regnamer/b_day.py
regnamer/requirments.txt
regnamer/__pycache__/vars.cpython-311.pyc
regnamer/patterns.py
regnamer/vars.py
regnamer/__pycache__/file_feeder.cpython-311.pyc
regnamer/__pycache__/gui_renamer.cpython-311.pyc
regnamer/file_feeder.py
/regnamer/__pycache__
regnamer/py_pdf2_test/matched.txt
regnamer/py_pdf2_test/new.txt
/regnamer/ocr_test_tabula/__pycache__
/regnamer/py_pdf2_test/work_done.txt
/regnamer/work_done.txt
/filelibrary/files_found.xlsx
/roadtaxMapper/dps_found.xlsx
/roadtaxMapper/files_found.xlsx
/roadtaxMapper/obligation_found.xlsx
/KAT_reporter/differences_only.xlsx
/KAT_reporter/kat_new.xlsx
/KAT_reporter/kat_old.xlsx
/new_data_read/
/regnamer/py_pdf2_test/idx2.txt
/regnamer/py_pdf2_test/idx.txt
/regnamer/py_pdf2_test/READ_transform_named.py
